<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test thread-count="6" name="Test">
    <classes>
      <class name="tests.One"/>      
      <class name="tests.One1"/>
      <class name="tests.Two"/>
      <class name="tests.Two2"/>
      <class name="tests.Three"/>      
      <class name="tests.Three3"/>
      <class name="tests.Setup_DockerGrid"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
